{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'eventos/style.css' %}">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registrarse</title>
</head>
<body>
     <form action="{% url 'eventos:register' %}" method="post">
          <div class="imgcontainer">
            <img src="img_avatar2.png" alt="Avatar" class="avatar">
          </div>

          <div class="container">
              {% csrf_token %}
              {{ form }}
              <button type="submit">Registrarse</button>
          </div>

          <div class="container" style="background-color:#f1f1f1">
            <button type="button" class="cancelbtn">Cancel</button>
          </div>
     </form>
</body>
</html>